.jumbotron {
  display: flex;
  flex-direction: column;
  height: 75vh;
  background-image: url("../images/pexels-blaque-x-932638.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron-titleDiv {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(75vh - 80px);
  justify-content: center;
  align-items: center;
}

.jumbotron-title {
  color: white;
  font-weight: 800;
  font-size: 60px;
}

.jumbotron-text {
  color: white;
  display: block;
}

.nav {
  display: flex;
  height: 80px;
  width: 100%;
  justify-content: flex-end;
}

.nav-links {
  display: flex;
  margin-bottom: 0;
  padding: 0px 50px;
  justify-content: center;
  align-items: center;
}

.nav-link {
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 20px;
}

.nav-link a {
  color: white;
  transition: opacity 0.2s ease-in-out;
  text-decoration: none;
}

.nav-link a:hover {
  color: white;
  opacity: 0.75;
  cursor: pointer;
}
