html, body {
  max-width: 100%;
  min-width: fit-content;
  margin: auto;
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  min-height: 100vh;
  width: 100%;
}

.filter {
  display: flex;
  justify-content: space-evenly;
  height: 100px;
  width: 75%;
  margin: 0 auto;
}

.filter button {
  height: 50px;
  width: fit-content;
  background-color: white;
  padding: 0px 20px;
  color: #8d8d8d;
  border: 1px solid #e6e6e6;
  border-radius: 100px;
  align-self: center;
  transition: all 0.25s ease-in-out;
}

.filter button:hover {
  color: white;
  background-color: #0c9482;
}

.content {
  width: 100%;
  text-align: center;
}

.post {
  display: flex;
  flex-direction: column;
  width: 500px;
  display: inline-block;
  margin: 20px;
  text-align: left;
}

.post-image {
  height: 50%;
  width: 500px;
  object-fit: cover;
}

.post-content {
  height: 50%;
  padding: 20px;
  background-color: white;
}

.post-title {
  font-weight: 800;
  margin: 15px 0px;
}